@font-face {
    font-family: "helveticaneuecyr_roman";
    /* IE9 Compat Modes */
    src: url("../fonts/helveticaneuecyr_roman.otf");
    /* IE6-IE8 */
    src: url("../fonts/helveticaneuecyr_roman.otf?#iefix") format("embedded-opentype"),
        /* Safari, Android, iOS */ url("../fonts/helveticaneuecyr_roman.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}